/* Style */
body {
	background-color: #eee;
}


.login {
	margin: 50px auto;
}

.container {
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .2);
	position: relative;
	border-radius: 15px;
}

/* Headline */

.headline {
	background-color: #345eeb;
	position: relative;
	border-radius: 15px 0 0 15px;
	max-height: 100%;
	max-width: 100%;
}

.protection, .seo, .website, .research, .shield {
	position: absolute;
	top: 100px;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	z-index: 1;
}

.headline .protection {
	top: 10%;
	max-width: 63%;
	left: 5%;
	transform: rotate(-5deg);
	animation-name: tilt-n-move-shaking;
}

.headline .seo {
	max-width: 25%;
	right: 10%;
	top: 20%;
	transform: rotate(25deg);
	animation-name: tilt-shaking;
}

.headline .website {
	max-width: 35%;
	top: 290px;
	left: 15%;
	transform: rotate(-3deg);
	animation-name: horizontal-shaking;
}

.headline .research {
	width: 27%;
	top: 280px;
	left: 60%;
	transform: rotate(25deg);
	animation-name: horizontal-shaking;
}

.headline .confetti {
	position: absolute;
	max-width: 90%;
	top: 10%;
	right: 7%;
	animation-name: tilt-n-move-shaking !important;

}

.headline .slogan {
	margin-top: 450px;
	color: white;
	font-size: 25px;
	text-align: center;
	font-weight: 500;
	padding: 0 50px;
}

.headline .desc {
	color: #ddd;
	font-size: 12px;
	text-align: center;
	padding: 0 50px;
	margin-bottom: 80px;
}

/* Form Login */

.form-login {
	position: relative;
	padding: 50px;
	background-color: white;
	border-radius: 0 15px 15px 0;
	max-height: 100%;
	max-width: 100%;
}

.shield {
	width: 70px;
	left: 40%;
	top: 120px;

}

.form-login h2 {
	margin: 150px auto 20px auto ;
	font-size: 25px;
}

.form-login p {
	color: #aaa;
	font-size: 12px;
}

button {
	width: 100%;
	background-color: #345eeb !important;
}

.my-alert {
	font-size: 12px !important;
}

/* Animation */

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

@keyframes skew-y-shakeing{
 0% { transform: skewY(-15deg); }
 5% { transform: skewY(15deg); }
 10% { transform: skewY(-15deg); }
 15% { transform: skewY(15deg); }
 20% { transform: skewY(0deg); }
 100% { transform: skewY(0deg); }
}

/* Media Queries */

@media (max-width: 576px) {

	.headline {
		border-radius: 15px 15px 0 0px;
	}

	.form-login {
		
		border-radius: 0 0 15px 15;
	}

	.headline .protection {
		max-width: 60%;
		left: 10%;
		top: 15%;
		right: 10%;
		
	}

	.headline .seo {
		max-width: 25%;
		right: 5%;
		top: 25%;

		
	}

	.headline .website {
		width: 30%;
		top: 45%;
		left: 15%;
		bottom: 0;
		
	}

	.headline .research {
		width: 27%;
		top: 42%;
		left: 60%;
	}

	.headline .confetti {
	position: absolute;
	width: 90%;
	top: 10%;
	right: 5%;
	}

	.headline .slogan {
	margin-top: 320px;
	padding: 0 20px;
	font-size: 20px;
	}

	.headline .desc {
		padding: 0 20px;
		margin-bottom: 60px;
		font-size: 10px;
	}
	.shield {
	width: 60px;
	left: 40%;
	top: 70px;

	}

	.form-login h2 {
		margin: 100px auto 20px auto ;
		font-size: 20px;
	}

	.form-login p {
		color: #aaa;
		font-size: 10px;
	}

	button {
		width: 100%;
		background-color: #345eeb !important;

	}
}

